.header {
  background-color: #25313f;
  height: 5.6rem;
  border-bottom: 0.2rem solid #31b9e4;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 5.6rem;
    background-image: url("../../../public/resources/header_pattern.svg");
    mix-blend-mode: overlay;
    opacity: 1;
  }
}

#header-logo {
  margin: 1.05rem 2.4rem;
  height: 3.6rem;
  background-color: transparent;
}